<!doctype html>
<html>
<head>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55411964-1', 'auto');
      ga('send', 'pageview');

    </script>

<!-- Page title -->
<title>iMagPress |  Magazine Flat Theme </title>
<!-- Meta description -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
<meta name="description" content=" "/>
<meta name="keywords" content=" "/>
<meta name="author" content=" "/>

<!-- Stylesheet -->
<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/layout.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/awesome.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/lightbox.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/grid.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/colors.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/backgrounds.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/fonts.css"/>

<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css"/>
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>

<!-- Favicons -->
<link rel="shortcut icon" href="favicon.ico"/>
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png"/>
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png"/>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png"/>

<script> 
    var one = 3; 

</script>


<style>

iframe {
    top: 30%;
}
.container
{
    left: 1%;
    right: 1%;
   max-width: 100%;
}

#featured-slider-pager a
{
    height: 130px;
}
#featured-slider-pager
{
    overflow:scroll;
    width: 300px;
    height: 100%;
}
#featured-slider li
{
    max-width: 100%;
}
#slider-container .container
{
    max-width: 1321px;
}
#logo
{
    background-color: transparent;
    vertical-align: middle;
    display: inline-block;
}
.upperBar
{
    background-color: red;
    top: 30%;
}
#top-bar
{
    margin-bottom: 40px;
}
#featured-slider{
    top: 20%: ;
}
</style>

</head>

<!-- Body -->
<body>

<!-- Top bar -->
<div id="top-bar">
	<!-- Menu -->                                  
    <ul class="top-menu">
        <li><img height="100px" width="100px" src="images/liketodaylogo.png"> </img></li>
        <li><a href="http://liketoday.com/home">All</a></li>
        <li><a href="http://liketoday.com/Blacksburg">Blacksburg</a></li>
        <li><a href="http://liketoday.com/Tech">Technology StartUps</a></li>
        <li>
        <form method="post" action="http://warm-peak-1670.herokuapp.com/subreq">
            <input type="text" class="search-field" placeholder="Add a channel"/>
            <input type="submit">
        </form>
        </li>
    </ul>
	<!-- Social icons -->
	<ul class="social-icons">
    	<li class="twitter"><a href="http://www.twitter.com/LikeTodayNews"><i class="icon-twitter"></i></a></li>
        <li class="facebook"><a href="http://www.facebook.com/pages/LikeToday"><i class="icon-facebook"></i></a></li>
        <li class="youtube"><a href="https://www.youtube.com/channel/UCU-EUTuWjSXr2YnHxHsp6EQ"><i class="icon-youtube"></i></a></li>
    </ul>

</div>


<!-- Main slider -->
<div id="slider-container">
    <div class="container">
        <!-- Slides MUST BE 5 -->
        <div class="upperBar" width="1024" height="760"><img src="images/Thumb-Bar.png"></img></div>
        <ul id="featured-slider">
            <li><iframe src="<%= some[1].url%>" width="1024" height="760"></iframe></li>
            <li><iframe src="<%= some[2].url%>" width="1024" height="760"></iframe></li>
            <li><iframe src="<%= some[3].url%>" width="1024" height="760"></iframe></li>
            <li><iframe src="<%= some[4].url%>" width="1024" height="760"></iframe></li>
            <li><iframe src="<%= some[5].url%>" width="1024" height="760"></iframe></li>
            <li><iframe src="<%= some[6].url%>" width="1024" height="760"></iframe></li>
        </ul>
        <!-- Tabs for slides MUST BE 5 -->
        <div id="featured-slider-pager">
            <a data-slide-index="0" href="">
                <img src="<%= some[1].image_url%>" alt="Image"/>
                <h3><%= some[Math.floor((Math.random() * 10) + 1)].title %></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">47</span>
                        <span class="by-date">1 day ago</span>
                    </div>
                </div>
            </a>
            <a data-slide-index="1" href="">
                <img src="<%= some[2].image_url%>" alt="Image"/>
                <h3><%= some[Math.floor((Math.random() * 10) + 1)].title %></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">47</span>
                        <span class="by-date">1 day ago</span>
                    </div>
                </div>
            </a>
            <a data-slide-index="2" href="">
                <img src="<%= some[3].image_url%>" alt="Image"/>
                <h3><%= some[Math.floor((Math.random() * 10) + 1)].title %></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">47</span>
                        <span class="by-date">1 day ago</span>
                    </div>
                </div>
            </a>
            <a data-slide-index="3" href="">
                <img src="<%= some[4].image_url%>" alt="Image"/>
                <h3><%= some[Math.floor((Math.random() * 10) + 1)].title %></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">47</span>
                        <span class="by-date">1 day ago</span>
                    </div>
                </div>
            </a>
            <a data-slide-index="4" href="">
                <img src="<%= some[5].image_url%>" alt="Image"/>
                <h3><%= some[Math.floor((Math.random() * 10) + 1)].title %></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">47</span>
                        <span class="by-date">1 day ago</span>
                    </div>
                </div>
            </a>
            <a data-slide-index="5" href="">
                <img src="<%= some[6].image_url%>" alt="Image"/>
                <h3><%= some[Math.floor((Math.random() * 10) + 1)].title %></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">47</span>
                        <span class="by-date">1 day ago</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<!-- Scripts -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.custom.js"></script>
</body>
</html>